<!DOCTYPE html>
<html>

<head>
  <title inertia><%= content_for(:title) || "Andrew Gertig" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <meta name="description" content="Andrew Gertig is an engineering and product leader that loves building teams that build products people love to use." />
  <meta name="keywords" content="andrew gertig, gertig, gertig.com, software engineer, manager, product manager, recruiting, talent" />

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
  <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
  <link rel="manifest" href="/site.webmanifest">

  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="icon" href="/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="apple-touch-icon" href="/apple-touch-icon-180x180.png">

  <%# External stylesheets %>
  <link href="https://fonts.googleapis.com/css?display=optional&family=Open+Sans:300,400,700,800|Playfair+Display:,300, 400, 700" rel="stylesheet" />
  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css" />
  <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.css" />

  <%# Includes all stylesheet files in app/assets/stylesheets %>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= vite_stylesheet_tag "application" %>
  <%= vite_react_refresh_tag %>
  <%= vite_client_tag %>
  <%= vite_typescript_tag "gertig_inertia" %>
  <%= inertia_ssr_head %>
  <%= vite_javascript_tag 'application' %>
  <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

</head>

<body>
  <%= yield %>
</body>

</html>